<!DOCTYPE html>
<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{desc}}</p>
            <p>This site was ceated by Ahambarish Saikia. Using mapbox and Geocode</p>
            <img class="portrait" src="img/robot.png">
        </div>
        
        {{>footer}}
    </body>

</html>