<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <h1>{{location}}</h1>
        <p>{{forecast}}</p>
        {{>footer}}
    </body>

</html>